<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--Get your own code at fontawesome.com-->
    <style>

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
}
.container{
    background-color: whitesmoke;
    margin-left: 320px;
    height:350px;
    margin-top: 160px;
    width: 1000px;
    border-radius: 500px;
    box-shadow:4px;

}
h1{
    color:red;
    margin-left: 100px;
}

    </style>
</head>
<body>
    <div class="container"><br><br>

<center><i class='far fa-angry' style='font-size:48px;color:red'></i>
    <br><h1> Sorry you are not placed order on food</h1>
</center>
</div>
</body>
</html>