<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: ghostwhite;
          }
        .container{
          
            margin-top:150px;
            background-color:ghostwhite;
            margin-left: 250px;
            position: static;
            width:1000px;
            border-radius: 4px;
        }
        p,h2{
            margin-left: 15px;
        }
       
        </style>
</head>
<body>
    {% include 'core/navbar.html' %}
      <div class="container">

<img src= "https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X400/pages%2F3%2Fimage20170306083306.jpg" width="1000"><br>

<center><h1>Contact Us</h1></center>
<p>For booking related queries/issues, kindly call our 24 hours concierge at 8096360490 or mail to us at ashokwalker810@gmail.com</p>
<p> Email Address : ashokwalker810@gmail.com</p>
<p>Mobile number : 8096360490</p>
<h2>Address:</h2>
<p>(Restarurant), opp to Dilsuknagar Metro</p>
<p>Hyderbad,Telangana </p><br>
    </div>
</body>
</html>